<!DOCTYPE html>
<html>
  <head>
    <title><%=__('Anuncios') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header.html %>
    <div style='padding:40px'>
    <h1><%= __('Anuncios') %> </h1>
    <% if (anuncios.length === 0) { %>
        <p><%= __('No encontrado tu busqueda') %> ></p>
    <% } else { %>
    <table>
      <tr>
        <th><%= __('Nombre') %> </th>
        <th><%= __('Venta') %> </th>
        <th><%= __('Precio') %> </th>
        <th><%= __('Tags') %> </th>
        <th><%= __('Fotos') %> </th>
      </tr>
      <% anuncios.forEach(anuncio => { %>
      <tr>
        <td><%= anuncio.name %></td>
        <td><%=  anuncio.sale ? 'venta':'compra' %></td>
        <td><%= anuncio.price %></td>
        <td><%= anuncio.tags %></td>
        <td>
          <% if (!anuncio.photo || anuncio.photo === null || anuncio.photo === undefined ) { %>
            <img src="/images/anuncios/default.jpg" alt="" width="100" height="100">
          <% } else {%>
          <img src="/images/anuncios/<%= anuncio.photo %> " alt="" onerror = "this.onerror = null; this.src = '/images/anuncios/default.jpg';">
          <% } %> 
        </td>
      </tr>
      <% }) %>
    </table>
    <% } %> 
  </div>
  </body>
</html>
